<header class="header">
  <span>BooksLogo</span>
  <input
    type="search"
    name="search-book"
    id="search-book"
    class="search-input"
  />
  <div class="profile">
    <i>Icons1</i>
    <i>Icons2</i>
    <i>Icons3</i>
    <i>Icons4</i>
  </div>
</header>
<nav>
  <div class="navbar">
    <ul class="navbar-list">
      <li class="navbar-list__item">Detetive</li>
      <li class="navbar-list__item">Novela</li>
      <li class="navbar-list__item">História</li>
      <li class="navbar-list__item">Ficção</li>
      <li class="navbar-list__item">Fantasia</li>
      <li class="navbar-list__item">Romance</li>
      <li class="navbar-list__item">Outros</li>
    </ul>
  </div>
</nav>
