.add-book__title {
  margin-top: 2em;
  text-align: center;
}

.add-book__form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.add-book__form-input {
  width: 100%;
  margin-bottom: 2em;
}

.add-book__form-input label {
  width: 40%;
}
.add-book__form-input input {
  width: 100%;
  border-radius: 4px;
}
.edit-book__save {
  display: flex;
  justify-content: center;
}

.save__button {
  width: 120px;
  height: 40px;
  font-weight: 600;
  border-radius: 8px;
  margin-bottom: 3em;
}
