<h1 class="add-book__title">Edit book</h1>

<form class="add-book__form" [formGroup]="editBook">
  <app-input-fields
    inputType="text"
    inputName="BookName"
    inputText="Book Name"
    inputId="BookName"
    formControlName="bookName"
    [editingEnable]="editingDisabled"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="editBook.get('bookName')?.errors?.['required']
    && editBook.get('bookName')?.touched
    && !editBook.get('bookName')?.value"
  ></app-invalid-field-message>

  <app-input-fields
    inputType="text"
    inputName="BookPrice"
    inputText="Book Price"
    inputId="BookPrice"
    formControlName="price"
    [editingEnable]="editingDisabled"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="editBook.get('price')?.errors?.['required']
    && editBook.get('price')?.touched
    && !editBook.get('price')?.value"
  ></app-invalid-field-message>

  <select class="navbar-list" formControlName="category">
    <option
      class="navbar-list__item"
      value="null"
      selected="true"
      disabled="disabled"
    >
      <a href="#">Book Category</a>
    </option>
    <option class="navbar-list__item">Fantasy</option>
    <option class="navbar-list__item">Fiction</option>
    <option class="navbar-list__item">History</option>
    <option class="navbar-list__item">Novel</option>
    <option class="navbar-list__item">Police</option>
    <option class="navbar-list__item">Romance</option>
    <option class="navbar-list__item">Others</option>
  </select>
  <app-invalid-field-message
    *ngIf="editBook.get('category')?.errors?.['required']
    && editBook.get('category')?.touched
    && !editBook.get('category')?.value"
  ></app-invalid-field-message>

  <app-input-fields
    inputType="text"
    inputName="BookAuthor"
    inputText="Book Author"
    inputId="BookAuthor"
    formControlName="author"
    [editingEnable]="editingDisabled"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="editBook.get('author')?.errors?.['required']
    && editBook.get('author')?.touched
    && !editBook.get('author')?.value"
  ></app-invalid-field-message>

  <div class="edit-book__save">
    <button
      class="save__button"
      (click)="edit()"
      [disabled]="editBook.invalid || editingDisabled"
    >
      Save Edition
    </button>
  </div>
  <div class="edit-book__edit">
    <button class="edit__button" (click)="enableEditing()">
      Enable Editing
    </button>
  </div>
</form>
