<h1 class="add-book__title">Edit book</h1>

<form class="add-book__form" [formGroup]="editBook">
  <app-input-fields
    inputType="text"
    inputName="BookName"
    inputText="Book Name"
    inputId="BookName"
    formControlName="bookName"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="editBook.get('bookName')?.errors?.['required']
    && editBook.get('bookName')?.touched
    && !editBook.get('bookName')?.value"
  ></app-invalid-field-message>

  <app-input-fields
    inputType="text"
    inputName="BookPrice"
    inputText="Book Price"
    inputId="BookPrice"
    formControlName="price"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="editBook.get('price')?.errors?.['required']
    && editBook.get('price')?.touched
    && !editBook.get('price')?.value"
  ></app-invalid-field-message>

  <app-input-fields
    inputType="text"
    inputName="BookCategory"
    inputText="Book Category"
    inputId="BookCategory"
    formControlName="category"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="editBook.get('category')?.errors?.['required']
    && editBook.get('category')?.touched
    && !editBook.get('category')?.value"
  ></app-invalid-field-message>

  <app-input-fields
    inputType="text"
    inputName="BookAuthor"
    inputText="Book Author"
    inputId="BookAuthor"
    formControlName="author"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="editBook.get('author')?.errors?.['required']
    && editBook.get('author')?.touched
    && !editBook.get('author')?.value"
  ></app-invalid-field-message>

  <div class="edit-book__save">
    <button class="save__button" (click)="edit()">Save Edition</button>
  </div>
</form>
