<header class="header">
  <span><img src="../../../assets/img/logo-frwk.svg" class="logo" /></span>
  <div class="search-box">
    <input
      type="search"
      name="search-book"
      id="search-book"
      class="search-input"
      placeholder="Find your book"
      #searchBox
      (input)="searchHandler(searchBox.value)"
    /><button class="search-button">
      <i-bs name="search" width="15" height="15"></i-bs>
    </button>
  </div>

  <div class="profile">
    <a routerLink="/home">HOME</a>
    <a routerLink="/home/add-book">ADD BOOK</a>
    <a routerLink="/" *ngIf="!isLogged; else logout">LOGIN</a>
  </div>
</header>

<ng-template #logout
  ><a id="logout-button" (click)="logoff()">LOGOFF</a></ng-template
>
