<header class="header">
  <span><img src="../../../assets/img/logo-frwk.svg" class="logo" /></span>
  <input
    type="search"
    name="search-book"
    id="search-book"
    class="search-input"
    placeholder="Find for your book"
  />
  <div class="profile">
    <a routerLink="/home">HOME</a>
    <a routerLink="/home/add-book">ADD BOOK</a>
    <a routerLink="/" *ngIf="!isLogged; else logout">LOGIN</a>
  </div>
</header>

<ng-template #logout
  ><a id="logout-button" (click)="logoff()">LOGOFF</a></ng-template
>
