.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292828;
  width: 100%;
  height: 80px;
  padding-inline: 1em;
}

.search-box {
  display: flex;
  align-items: center;
  width: 30%;
  height: 33px;
}

.search-input {
  height: 33px;
  border-radius: 4px 0 0 4px;
  background-color: #373737;
  outline: none;
  border: none;
  padding: 0 15px;
  color: #fff;
}

.search-button {
  border-radius: 0 4px 4px 0;
  border: none;
  height: 33px;
}

.profile a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

#logout-button {
  cursor: pointer;
}

@media screen and (max-width: 545px) {
  .header {
    flex-direction: column;
    height: 120px;
  }
  .header > * {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .search-input {
    width: 160px;
  }
}
