<header class="header">
  <span>BooksLogo</span>
  <input
    type="search"
    name="search-book"
    id="search-book"
    class="search-input"
    placeholder="Find for your book"
  />
  <div class="profile">
    <a routerLink="/">HOME</a>
    <a routerLink="/add-book">ADD BOOK</a>
    <i>Icons3</i>
    <i>Icons4</i>
  </div>
</header>
<nav>
  <div class="navbar">
    <ul class="navbar-list">
      <li class="navbar-list__item"><a href="#">Policial</a></li>
      <li class="navbar-list__item"><a href="#">Novela</a></li>
      <li class="navbar-list__item"><a href="#">História</a></li>
      <li class="navbar-list__item"><a href="#">Ficção</a></li>
      <li class="navbar-list__item"><a href="#">Fantasia</a></li>
      <li class="navbar-list__item"><a href="#">Romance</a></li>
      <li class="navbar-list__item"><a href="#">Outros</a></li>
    </ul>
  </div>
</nav>
