.add-book__title {
  margin-top: 2em;
  text-align: center;
  font-weight: 800;
}

.add-book__form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
