.add-book__title {
  margin-top: 2em;
  text-align: center;
  font-weight: 800;
}

.add-book__form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.navbar-list {
  border: 1px solid #666666;
  border-bottom: 2px solid #666666;
  border-radius: 4px;
  color: #fff;
  outline: none;
  transition: all 0.3s ease-out;
  width: 100%;
  height: 30px;
  resize: none;
  background-color: #373737;
  margin: 15px 0 10px 0;
  font-size: 14px;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
