<h1 class="add-book__title">Add a new book</h1>

<form class="add-book__form" [formGroup]="addBook">
  <app-input-fields
    inputType="text"
    inputName="BookName"
    inputText="Book Name"
    inputId="BookName"
    formControlName="bookName"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="addBook.get('bookName')?.errors?.['required']
  && addBook.get('bookName')?.touched
  && !addBook.get('bookName')?.value"
  ></app-invalid-field-message>

  <app-input-fields
    inputType="number"
    inputName="BookPrice"
    inputText="Book Price"
    inputId="BookPrice"
    formControlName="price"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="addBook.get('price')?.errors?.['required']
  && addBook.get('price')?.touched
  && !addBook.get('price')?.value"
  ></app-invalid-field-message>
  <app-category-select formControlName="category"></app-category-select>

  <app-invalid-field-message
    *ngIf="addBook.get('category')?.errors?.['required']
  && addBook.get('category')?.touched
  && !addBook.get('category')?.value"
  ></app-invalid-field-message>

  <app-input-fields
    inputType="text"
    inputName="BookAuthor"
    inputText="Book Author"
    inputId="BookAuthor"
    formControlName="author"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="addBook.get('author')?.errors?.['required']
  && addBook.get('author')?.touched
  && !addBook.get('author')?.value"
  ></app-invalid-field-message>

  <div class="button-container">
    <app-submit-button
      (click)="sendBook()"
      [buttonDisabled]="addBook.invalid"
    ></app-submit-button>
  </div>
</form>
