.add-book__title {
  margin-top: 2em;
  text-align: center;
  font-weight: 800;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.login__input-container {
  color: #fff;
  font-size: 14px;
  margin-bottom: 1em;
  padding-top: 15px;
  position: relative;
}

.login__input {
  border: 1px solid #666666;
  border-bottom: 2px solid #666666;
  border-radius: 4px;
  color: #fff;
  outline: none;
  transition: all 0.3s ease-out;
  width: 100%;
  height: 30px;
  resize: none;
  background-color: #373737;
}

.login__input:focus {
  border-bottom: 2px solid #fff;
}

.login__input::placeholder {
  margin-left: 5px;
  color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #666666;
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px #373737 inset;
  transition: all 5000s ease-in-out 0s;
}

.login__input-container label {
  left: 0;
  margin-top: 18px;
  margin-left: 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-out;
}

.login__input:focus + label,
.login__input:not(:placeholder-shown) + label {
  margin-top: 5px;
  color: #fff;
  font-size: 11px;
}

.login {
  display: flex;
  justify-content: space-between;
}
.login__button {
  margin-top: 1em;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #e0e0e0;
  color: #373737;
  font-weight: 600;
  transition: all 0.5s;
}
.login__button:hover {
  transform: scale(1.1);
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px #e0e0e0;
}
.login__link {
  text-decoration: underline;
  color: #fff;
  font-size: 16px;
  transition: transform 0.5s;
}
.login__link:hover {
  transform: scale(1.1);
}
.login p {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}
