.add-book__title {
  margin-top: 2em;
  text-align: center;
  font-weight: 800;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.login {
  display: flex;
  justify-content: space-between;
}
.login__link {
  text-decoration: underline;
  color: #fff;
  font-size: 16px;
  transition: transform 0.5s;
}
.login__link:hover {
  transform: scale(1.1);
}
.login p {
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 0;
  text-align: center;
}
