<h1 class="add-book__title">Register</h1>

<form class="login__form" [formGroup]="registerForm">
  <div class="login__input-container">
    <input
      type="text"
      id="userName"
      class="login__input"
      formControlName="userName"
      placeholder="Username"
    />
    <label for="userName">Username</label>
  </div>
  <div class="login__input-container">
    <input
      type="password"
      id="password"
      class="login__input"
      formControlName="password"
      placeholder="Password"
    />
    <label for="password">Password</label>
  </div>
  <div class="login">
    <p>
      Already have an account?
      <a routerLink="" class="login__link"> Sign in. </a>
    </p>
    <button class="login__button" (click)="register()">Signup</button>
  </div>
</form>
