<h1 class="add-book__title">Register</h1>

<form class="login__form" [formGroup]="registerForm">
  <app-input-fields
    inputType="text"
    inputName="userName"
    inputText="User Name"
    inputId="userName"
    formControlName="userName"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="registerForm.get('userName')?.errors?.['required']
    && registerForm.get('userName')?.touched
    && !registerForm.get('userName')?.value"
  ></app-invalid-field-message>
  <app-input-fields
    inputType="password"
    inputName="password"
    inputText="Password"
    inputId="password"
    formControlName="password"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="registerForm.get('password')?.errors?.['required']
    && registerForm.get('password')?.touched
    && !registerForm.get('password')?.value"
  ></app-invalid-field-message>

  <div class="login">
    <p>
      Already have an account?
      <a routerLink="" class="login__link"> Sign in. </a>
    </p>
    <app-submit-button
      (click)="register()"
      btnText="Signup"
    ></app-submit-button>
  </div>
</form>
