<main>
  <div class="books">
    <nav>
      <div class="navbar">
        <app-category-select
          (change)="search($event)"
          #searchFilter
        ></app-category-select>
      </div>
    </nav>
    <ul class="books-list">
      <li class="books-list__item" *ngFor="let book of books">
        <app-cards [book]="book">
          <div class="book-menu">
            <p (click)="edit(book.id)"><span>Editar</span></p>
            <i-bs
              name="trash"
              width="20"
              height="20"
              (click)="delete(book.id)"
            ></i-bs>
          </div>
        </app-cards>
      </li>
    </ul>
    <div *ngIf="seeAll == true" class="book-list__see-all">
      <button class="see-all__button" (click)="search($event)" value="">
        All Books
      </button>
    </div>
  </div>
</main>
