<main>
  <div class="books">
    <nav>
      <div class="navbar">
        <select
          class="navbar-list"
          (change)="search(searchFilter.value)"
          #searchFilter
        >
          <option class="navbar-list__item" selected="true" disabled="disabled">
            <a href="#">Categoria</a>
          </option>
          <option class="navbar-list__item">Todos</option>
          <option class="navbar-list__item">Fantasia</option>
          <option class="navbar-list__item">Ficção</option>
          <option class="navbar-list__item">História</option>
          <option class="navbar-list__item">Novela</option>
          <option class="navbar-list__item">Policial</option>
          <option class="navbar-list__item">Romance</option>
          <option class="navbar-list__item">Outros</option>
        </select>
      </div>
    </nav>
    <ul class="books-list">
      <li class="books-list__item" *ngFor="let book of books">
        <app-cards [book]="book">
          <div class="book-menu">
            <p (click)="edit(book.id)"><span>Editar</span></p>
            <i-bs
              name="trash"
              width="20"
              height="20"
              (click)="delete(book.id)"
            ></i-bs>
          </div>
        </app-cards>
      </li>
    </ul>
    <div *ngIf="seeAll == true" class="book-list__see-all">
      <button class="see-all__button" (click)="search('')">All Books</button>
    </div>
  </div>
</main>
