<app-header></app-header>
<main>
  <div class="books">
    <ul class="books-list">
      <li class="books-list__item">
        <app-cards></app-cards>
      </li>
      <li class="books-list__item"><app-cards></app-cards></li>
      <li class="books-list__item"><app-cards></app-cards></li>
      <li class="books-list__item"><app-cards></app-cards></li>
      <li class="books-list__item"><app-cards></app-cards></li>
      <li class="books-list__item"><app-cards></app-cards></li>
      <li class="books-list__item"><app-cards></app-cards></li>
      <li class="books-list__item"><app-cards></app-cards></li>
      <li class="books-list__item"><app-cards></app-cards></li>
    </ul>
  </div>
</main>
