.form-control__input-container {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  padding-top: 15px;
  position: relative;
}

.form-control__input {
  border: 1px solid #666666;
  border-bottom: 2px solid #666666;
  border-radius: 4px;
  color: #fff;
  outline: none;
  transition: all 0.3s ease-out;
  width: 100%;
  height: 30px;
  resize: none;
  background-color: #373737;
}

.form-control__input:focus {
  border-bottom: 2px solid #fff;
}

.form-control__input::placeholder {
  margin-left: 5px;
  color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #666666;
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px #373737 inset;
  transition: all 5000s ease-in-out 0s;
}

.form-control__input-container label {
  left: 0;
  margin-top: 18px;
  margin-left: 5px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-out;
}

.form-control__input:focus + label,
.form-control__input:not(:placeholder-shown) + label {
  margin-top: 5px;
  color: #fff;
  font-size: 11px;
}

.form-control__input:disabled {
  color: #858585;
}
