.book-card {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 250px;
  border-radius: 1em 1em 0 0;
  padding: 1.3em 1em;
  background-color: #71c4f438;
  margin-bottom: 0;
}

.book-title {
  text-align: center;
}
.book-card p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.book-card p span {
  font-weight: 600;
}
@media screen and (max-width: 320px) {
  .book-card {
    width: 200px;
  }
}
