<h1 class="add-book__title">Login</h1>

<form class="login__form" [formGroup]="loginForm">
  <app-input-fields
    inputType="text"
    inputName="userName"
    inputText="User Name"
    inputId="userName"
    formControlName="userName"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="loginForm.get('userName')?.errors?.['required']
    && loginForm.get('userName')?.touched
    && !loginForm.get('userName')?.value"
  ></app-invalid-field-message>

  <app-input-fields
    inputType="password"
    inputName="password"
    inputText="Password"
    inputId="password"
    formControlName="password"
  ></app-input-fields>
  <app-invalid-field-message
    *ngIf="loginForm.get('password')?.errors?.['required']
    && loginForm.get('password')?.touched
    && !loginForm.get('password')?.value"
  ></app-invalid-field-message>

  <div class="login">
    <p>
      Don't have an account?
      <a routerLink="/register" class="login__link"> Sign up. </a>
    </p>
    <app-submit-button (click)="login()" btnText="Signin"></app-submit-button>
  </div>
</form>
