<select
  class="navbar-list"
  [attr.disabled]="selectDisabled ? selectDisabled : null"
  (change)="valueChanged($event)"
  (blur)="hasTouched()"
>
  <option
    class="navbar-list__item"
    value="null"
    disabled="disabled"
    selected="true"
  >
    Book Category
  </option>
  <option
    *ngFor="let category of categories"
    [selected]="
      !selectedField
        ? false
        : selectedField.toLowerCase() == category.toLowerCase()
    "
  >
    {{ category }}
  </option>
</select>
